<!DOCTYPE html>
<html lang="en" data-theme="aqua">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate Solutions</title>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar', { page: "/about" }) %>

    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-lg">

                <h1 class="text-5xl font-bold">About me!</h1>
                <p class="py-6">
                <div class="container max-w-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">

                        <div class="card bg-base-100 w-72 shadow-sm">
                            <div class="card-body items-center text-center">
                                <figure class="px-10 pt-10">
                                    <img src="/data/myImage.jpg" class="w-full h-full object-cover"
                                        class="rounded-xl" />
                                </figure>
                            </div>
                        </div>

                        <div class="border-2 p-6">
                            <div class="grid grid-cols-1 gap-6">
                                <div class="card card-side bg-base-100 shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title">My name is Gustavo</h2>
                                        <p>
                                            I am doing CPP program on Seneca College, and I will graduate in the
                                            the end of the year. I am from São Paulo, which is a city in Brasil.
                                            I miss a lot my family and friends since I moved, but I am also happy, 
                                            studying and learning a lot.
                                            <br>
                                            <br>
                                            Spend time with my friends is my favorite things to do. I like to play videogames,
                                            Back in Brasil me and my friends used to do a big night only for playing videogames all night.
                                        </p>
                                    </div>
                                </div>

                                <div class="card card-side bg-base-100 shadow-sm">
                                    <div class="card-body">
                                        <p>
                                            Nice to meet you!!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>
    </div>

    <script src="/scriptNav.js"></script>

</body>

</html>